@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
body{
	position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.form-div {
	margin: 80px auto 80px;
	padding: 25px 15px 10px 15px;
	border: 1px solid #191919;
	border-radius: 5px;
	font-family: 'Ubuntu', sans-serif;
}

.form-div.login {
	margin-top: 180px;
}

